<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDo7HTKy3BakueGNQ4iA_UqUF7W-qy-4LM</string>
	<key>GCM_SENDER_ID</key>
	<string>814165084686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lounge66-b8887</string>
	<key>STORAGE_BUCKET</key>
	<string>lounge66-b8887.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814165084686:ios:4c11c81b6175e354894a5f</string>
</dict>
</plist>